body{
  background-color: #D6EFED;
  
}
hr{
  border: dotted #4f5151 6px;
  border-bottom: none;
  width: 4%;
  margin: 5% auto;
  
}
h1 {
    color: #39B5E0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
h2 {
    color: #39B5E0;
  }
h3 {
    color: #39B5E0;
    font-size: 1.5rem;
  }

/* Containers */

.container-fluid{
  padding: 3% 15%;
}


  /*Navigation Bar*/

  .navbar{
    padding: 0 0 4.5rem;
  }

  /* Dor medina */
  .navbar-brand{
    font-size: 3rem;
    font-weight: bold;
    color:#39B5E0;
  }

  .nav-item{
    padding: 0 18px;
  }

  /* nav items */
  .nav-link{
    font-size: 1.2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#39B5E0;
  }

 /*nav toggler */
 .navbar-toggler-icon{
    background-color:#94def7;
  }

.dor-img{
  width: 70%;
}



/* Sections */

#about{
  padding: 2% 15%;
}

#education{
  padding: 3% 15%;
}

#work{
  padding: 3% 15%;
}
#footer{
  padding: 3% 15%;
}


table { 
  border-spacing: 10px;
  border-collapse: separate;
}

  /* My skills images --> **/
  
  .skill-row{
    width: 50%;
    text-align: left;
  }
  .java-img{
    width: 10%;
    float: left;
    margin-right: 5%;
  }
  .c-img{
    width: 10%;
    float: left;
    margin-right: 5%;
  }
  .bash-img{
    width: 10%;
    float: left;
    margin-right: 5%;
  }
.py-img{
    width: 10%;
    float: left;
    margin-right: 5%;
}
.js-img{
    width: 10%;
    float: left;
    margin-right: 5%;
}
.code-img{
    width: 10%;
    float: left;
    margin-right: 5%;
}

/* My hobbies images --> **/

.maccabi-img{
    width: 10%;
    float: left;   
  }
  .running-img{
    width: 10%;
    float: left;   
  }
  .tony-img{
    width: 10%;
    float: left; 
  }
  